# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# WebStorm
.idea

# Node.js
node_modules

# Visual Studio
obj
bin
packages
*.user
*.suo

# Other
logs
*.log